/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes the full height */
}

.content {
  flex: 1; /* Allows the content to fill the available space */
}

body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}