/* QuestionPapers.css */
.container-ques {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2, .h3 {
    text-align: center;
    color: #333;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

label {
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: center;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid black; /* Black border for the table */
}

.styled-table tbody tr {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #e0e0e0;
}

.styled-table tbody tr:hover {
    background-color: #d1d1d1;
}

.get {
    color: #007bff;
    text-decoration: none;
}

.get:hover {
    text-decoration: underline;
}
